/* Components */
.curtain {
	animation: curtainSliding 1.5s ease forwards;
	@apply h-screen w-full bg-white absolute duration-500 z-20 md:z-10;
}

.closed-curtain {
	animation: curtainClosing 1.5s ease forwards;
	@apply h-screen w-0  bg-white absolute duration-500 z-20 md:z-10;
}

.half-curtain {
	animation: halfCurtainSliding 1.5s ease forwards;
	@apply h-screen w-full bg-white absolute duration-500 z-20 md:z-10;
}

.closed-half-curtain {
	animation: halfCurtainClosing 1.5s ease forwards;
	@apply h-screen w-1/2  bg-white absolute duration-500 z-20 md:z-10;
}

.closed-full-curtain {
	@apply w-0 bg-white h-screen absolute duration-500 z-50;
}

.closed-full-curtain#closed {
	animation: closedFullCurtainAnimated 1.5s ease forwards;
}

.half-left-curtain {
	animation: leftSideOpening 0.9s ease forwards;
	@apply h-screen w-1/2  bg-white absolute duration-500 z-20 md:z-10;
}

.closed-half-left-curtain {
	animation: leftSideClosing 0.9s ease forwards;
	@apply h-screen w-0 bg-white absolute duration-500 z-20 md:z-10;
}

.sidebar_container {
	animation: curtainAppear 0.8s ease forwards 1.6s;
	width: 5vw;
	@apply opacity-0 h-screen z-20 flex flex-col justify-between duration-500;
}

.sidebar_container#without-animation {
	width: 5vw;
	@apply opacity-100 h-screen z-20 flex flex-col justify-between duration-500;
}

.sidebar_text_container {
	@apply flex flex-col justify-evenly h-5/6 text-right;
}

.sidebar_header_container {
	@apply flex m-auto justify-center items-center h-1/6;
}

.sidebar_header {
	font-family: 'SourceSansPro-SemiBold';
	@apply text-center uppercase  text-2xl cursor-pointer;
}

.inactive_sidebar_text {
	transform: rotate(-90deg);
	font-family: 'SourceSansPro-Regular';
	@apply uppercase text-gray-400 cursor-pointer duration-300 tracking-wider;
}

.active_sidebar_text {
	transform: rotate(-90deg);
	font-family: 'SourceSansPro-Semibold';
	@apply uppercase text-hard_blue cursor-pointer duration-300 tracking-wider;
}

.inactive_sidebar_text:hover {
	transform: translateX(-5px) rotate(-90deg);
	@apply text-hard_blue;
}
.active_sidebar_text:hover {
	transform: translateX(-5px) rotate(-90deg);
}

.sidebar_lang_container {
	@apply flex flex-col m-auto justify-center items-center gap-y-2 w-2/6 h-1/6;
}

.active_sidebar_lang_text {
	font-family: 'SourceSansPro-Semibold';
	@apply text-hard_blue cursor-pointer;
}

.inactive_sidebar_lang_text {
	font-family: 'SourceSansPro-Regular';
	@apply text-gray-400 cursor-pointer duration-300;
}

.inactive_sidebar_lang_text:hover {
	@apply text-hard_blue;
}

.scroll-to-discover {
	animation: discoverLoop 5s infinite;
	font-family: 'SourceSansPro-ExtraLight';
	@apply bottom-16 absolute uppercase text-2xl tracking-wider text-white_text mx-auto w-full text-center;
}

/* Hamburger */
.hamburger {
	@apply cursor-pointer w-12 h-12 transition-all;
}

.hamburger-topbun,
.hamburger-bottombun {
	content: '';
	background-color: #fff;
	height: 2px;
	@apply absolute w-6 rotate-0 transition-all;
}

.dark-hamburger-topbun,
.dark-hamburger-bottombun {
	content: '';
	height: 2px;
	@apply absolute w-6 rotate-0 transition-all bg-hard_blue;
}

.dark-hamburger-topbun {
	transform: translateY(-5px);
	transition: 1.3s;
	@apply opacity-100;
}

.dark-hamburger-bottombun {
	transform: translateY(3px);
	transition: 1.3s;
	@apply opacity-100;
}

.open .dark-hamburger-topbun {
	transform: rotate(45deg) translateY(0px);
}

.open .dark-hamburger-bottombun {
	transform: rotate(-45deg) translateY(0px);
}

.hamburger-topbun {
	transform: translateY(-5px);
	transition: 1.3s;
	@apply opacity-100;
}

.hamburger-bottombun {
	transform: translateY(3px);
	transition: 1.3s;
	@apply opacity-100;
}

.open {
	transform: translateY(-1px);
	@apply rotate-90;
}

.open .hamburger-topbun {
	transform: rotate(45deg) translateY(0px);
	@apply opacity-0;
}

.open .hamburger-bottombun {
	transform: rotate(-45deg) translateY(0px);
	@apply opacity-0;
}

.mobile-nav-menu {
	@apply w-0 absolute h-screen overflow-hidden bg-white z-20 duration-1000 flex flex-col justify-between;
}

.mobile-nav-menu.inactive {
	animation: hamburgerDisappearing 1.2s ease forwards;
}

.mobile-nav-menu.active {
	animation: hamburgerAppearing 1.2s ease forwards;
}

.mobile-nav-menu.active.animated
	> .nav-menu-content
	> .navLink
	> .navlink-line {
	animation: navLinkLineExpanding 0.6s ease forwards;
}

.mobile-nav-menu .nav-menu-content {
	@apply flex flex-col gap-y-4 overflow-hidden;
}

.nav-menu-header {
	@apply flex flex-row justify-between overflow-hidden;
}

.nav-menu-lang {
	@apply flex flex-row gap-x-2 text-xl w-max overflow-hidden;
}

.navLink {
	font-family: 'SourceSansPro-Regular';
	@apply text-hard_blue text-xl capitalize duration-300 overflow-hidden;
}

.navlink-line {
	@apply w-0 overflow-hidden;
}

.navLink.active > .navlink-line {
	@apply border-hard_blue overflow-hidden;
}

.nav-menu-footer {
	@apply flex flex-row justify-between items-center overflow-hidden;
}

@keyframes discoverLoop {
	0% {
		@apply opacity-100;
	}

	25% {
		@apply opacity-0;
	}

	50% {
		@apply opacity-100;
	}

	75% {
		@apply opacity-0;
	}

	100% {
		@apply opacity-100;
	}
}

@keyframes curtainSliding {
	0% {
		@apply w-full;
	}

	100% {
		@apply w-0;
	}
}

@keyframes curtainClosing {
	0% {
		@apply w-0;
	}

	100% {
		@apply w-full;
	}
}

@keyframes halfCurtainSliding {
	0% {
		@apply w-full;
	}

	100% {
		@apply w-1/2;
	}
}

@keyframes halfCurtainClosing {
	0% {
		@apply w-1/2;
	}

	100% {
		@apply w-full;
	}
}

@keyframes curtainAppear {
	0% {
		@apply opacity-0;
	}

	100% {
		@apply opacity-100 border-r-2 border-gray-100;
	}
}

@keyframes closedFullCurtainAnimated {
	0% {
		@apply w-0;
	}

	100% {
		@apply w-full;
	}
}

@keyframes leftSideOpening {
	0% {
		@apply w-1/2;
	}

	100% {
		@apply w-0;
	}
}

@keyframes leftSideClosing {
	0% {
		@apply w-0;
	}

	100% {
		@apply w-1/2;
	}
}

@keyframes hamburgerAppearing {
	0% {
		@apply w-0 p-7;
	}

	1% {
		@apply opacity-100;
	}

	100% {
		@apply w-screen opacity-100 p-7;
	}
}

@keyframes navLinkLineExpanding {
	0% {
		@apply w-0;
	}

	100% {
		@apply w-full;
	}
}

@keyframes hamburgerDisappearing {
	0% {
		@apply w-screen p-7;
	}

	99% {
		@apply opacity-0 p-7;
	}

	100% {
		@apply w-0 opacity-0 p-0;
	}
}
