/* Desktop Version */
.contact-main-container {
	width: 95vw;
	@apply bg-white h-screen flex md:flex-row;
}

.contact-main-container .left {
	@apply w-1/2 h-screen
		bg-cover  bg-bottom bg-gray-300;
}

.contact-main-container .right {
	@apply w-1/2 h-screen bg-white py-12 px-28 flex flex-col justify-between;
}

.contact-main-container .right .contact-container {
	@apply flex flex-row ml-auto gap-x-5 items-center opacity-0;
}

.contact-main-container .right .contact-container#contact-button {
	transform: translateY(-60px);
	animation: contactButtonAppearing 1s ease forwards 3s;
}

.contact-main-container .right .contact-container#furthermore-contact {
	transform: translateY(60px);
	animation: contactButtonAppearing 1s ease forwards 3s;
}

.contact-main-container .right .contact-container .contact-text {
	font-family: 'SourceSansPro-Regular';
	@apply text-lg tracking-wide cursor-pointer duration-500;
}

.contact-text:hover {
	@apply text-soft_pink;
}

.contact-main-container .right .contact-speech {
	animation: contactSpeechAppearing 1s ease forwards 2.5s;
	transform: translateY(60px);
	@apply flex flex-col gap-y-3 opacity-0;
}

.contact-main-container .right .contact-speech .contact-title {
	font-family: 'SourceSansPro-SemiBold';
	@apply text-4xl capitalize tracking-wide;
}

.contact-main-container .right .contact-speech .contact-description {
	font-family: 'SourceSansPro-ExtraLight';
	@apply text-lg tracking-wide;
}

.contact-page-contact-button {
	@apply duration-200 cursor-pointer  rounded-lg;
}

.contact-page-contact-button:hover {
	transform: rotate(-10deg);
	@apply bg-gray-200;
}

.profile-pic {
	animation: profilePicAppearing 1.2s ease forwards 1.8s;
	@apply h-full object-cover w-0;
}

@keyframes profilePicAppearing {
	0% {
		@apply w-0;
	}

	100% {
		@apply w-full;
	}
}

@keyframes contactSpeechAppearing {
	0% {
		transform: translateY(60px);
		@apply opacity-0;
	}

	100% {
		transform: translateY(0);
		@apply opacity-100;
	}
}

@keyframes contactButtonAppearing {
	0% {
		@apply opacity-0;
	}

	100% {
		transform: translateY(0);
		@apply opacity-100;
	}
}

/* Mobile Version */

.contact-main-mobile-container {
	font-family: 'SourceSansPro-Regular';
	@apply flex flex-col h-screen w-screen;
}

.profile-pic-mobile-container {
	@apply h-4/5 w-screen flex;
}

.profile-pic-mobile {
	@apply h-full object-cover w-screen;
}

.contact-content-mobile-container {
	transform: translateY(100px);
	animation: contactMeMobileAppearing 0.8s ease forwards 1.5s;
	@apply flex flex-col items-center p-5 opacity-0;
}

.contact-title-mobile {
	font-family: 'SourceSansPro-SemiBold';
	@apply text-2xl capitalize;
}

.contact-email-mobile {
	@apply text-lg;
}

.contact-button-mobile-container {
	@apply flex flex-row justify-evenly my-3;
}

@keyframes contactMeMobileAppearing {
	0% {
		transform: translateY(100px);
		@apply opacity-0;
	}

	100% {
		transform: translateY(0);
		@apply opacity-100;
	}
}
