/* Desktop, Tablet Version */

.works-container {
	@apply h-screen overflow-auto w-full bg-white flex flex-row;
}

.left-container {
	transition: 1.8s;
	@apply z-10 w-1/2 flex flex-col justify-center h-full bg-white;
}

.left-container#view-in-details {
	animation: leftContianerDisappearing 1.8s ease forwards;
	@apply w-0 opacity-0;
}

.right-container {
	transition: 1.8s;
	@apply w-1/2 h-screen;
}

.right-container#view-in-details {
	@apply w-full pointer-events-none;
}

.work-list-container {
	animation: workListAppearing 0.8s ease forwards 1.8s;
	transform: translateX(30px);
	@apply w-3/5 mx-auto gap-y-10 flex flex-col opacity-0;
}

.work-name-container {
	@apply flex flex-row gap-x-5 cursor-pointer duration-1000 items-center;
}

.work-name {
	@apply text-xl cursor-pointer text-gray-600 duration-1000;
}

.work-short-desc {
	@apply text-gray-400 cursor-pointer tracking-wide duration-1000;
}

.work-line {
	@apply border-hard_pink w-0 duration-1000;
}

.work-banner-container {
	@apply w-full h-full relative;
}

.hover-banner {
	z-index: -1;
	@apply w-full h-full duration-500  flex items-center justify-center p-10 cursor-pointer;
}

.hover-banner-button {
	z-index: -1;
	@apply border-white border text-white p-5 mx-auto opacity-0 w-max duration-500;
}

.hover-border {
	@apply border border-white w-full h-full duration-500 opacity-0 flex items-center justify-center;
}

.work-banner-container:hover > .hover-banner {
	background-color: rgba(0, 0, 0, 0.7);
	@apply z-30;
}

.work-banner-container:hover > .hover-banner > .hover-border {
	@apply z-40 opacity-100;
}

.work-banner-container:hover
	> .hover-banner
	> .hover-border
	.hover-banner-button {
	@apply z-40 opacity-100;
}

.work-name-container#hovered {
	transform: translateX(20px);
}

.work-name-container#hovered > .work-name {
	@apply text-hard_blue;
}

.work-line#expanding {
	@apply w-6;
}

@keyframes workListAppearing {
	0% {
		@apply opacity-0;
	}

	100% {
		transform: translateX(0);
		@apply opacity-100;
	}
}

@keyframes leftContianerDisappearing {
	0% {
		@apply opacity-100 w-1/2;
	}

	10% {
		@apply opacity-0;
	}

	100% {
		@apply w-0;
	}
}

/* Mobile Version */

.works-container-mobile {
	@apply flex flex-col p-7 bg-white h-screen overflow-auto w-screen;
}

.works-header-container-mobile {
	@apply flex flex-row justify-between items-center;
}

.work-title-mobile {
	@apply text-2xl text-hard_blue tracking-wider;
}

.work-card-container {
	@apply my-8;
}

.work-card-banner-container {
	@apply overflow-hidden;
}

.work-card-banner {
	transform: scale(1.5);
	@apply my-6 object-cover;
}

.work-card-container.workRef-active
	> .work-card-banner-container
	> .work-card-banner {
	animation: workRefScaling 1.2s ease forwards;
}

.work-card-title {
	@apply text-xl my-2;
}

.work-card-desc {
	@apply text-base my-2;
}

.work-card-hook {
	@apply text-gray-400 text-base my-2;
}

@keyframes workRefScaling {
	0% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}
