@tailwind base;
@tailwind components;
@tailwind utilities;

.playground {
}

@font-face {
	font-family: 'SourceSansPro-ExtraLight';
	src: url('./assets//fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
	font-weight: 200;
}

@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url('./assets/fonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'SourceSansPro-SemiBold';
	src: url('./assets/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@layer base {
	html,
	body {
		padding: 0;
		margin: 0;
		scroll-behavior: smooth;
		color: #132743;
	}

	* {
		box-sizing: border-box;
	}

	::selection {
		color: #ff6187;
		background-color: #fff;
	}

	::-moz-selection {
		color: #ff6187;
		background-color: #fff;
	}
}

@layer utilities {
	/* Components */
	.curtain {
		animation: curtainSliding 1.5s ease forwards;
		@apply h-screen w-full bg-white absolute duration-500 z-10;
	}

	.closed-curtain {
		animation: curtainClosing 1.5s ease forwards;
		@apply h-screen w-0  bg-white absolute duration-500 z-10;
	}

	.half-curtain {
		animation: halfCurtainSliding 1.5s ease forwards;
		@apply h-screen w-full bg-white absolute duration-500 z-10;
	}

	.closed-half-curtain {
		animation: halfCurtainClosing 1.5s ease forwards;
		@apply h-screen w-1/2  bg-white absolute duration-500 z-10;
	}

	.sidebar_container {
		animation: curtainAppear 0.8s ease forwards 1.5s;
		@apply opacity-0 h-screen w-24 z-20 flex flex-col justify-between duration-500;
	}

	.sidebar_text_container {
		@apply flex flex-col justify-evenly h-5/6 text-right;
	}

	.sidebar_header_container {
		@apply flex m-auto justify-center items-center h-1/6;
	}

	.sidebar_header {
		font-family: 'SourceSansPro-SemiBold';
		@apply text-center uppercase  text-2xl cursor-pointer;
	}

	.inactive_sidebar_text {
		transform: rotate(-90deg);
		font-family: 'SourceSansPro-Regular';
		@apply uppercase text-gray-400 cursor-pointer duration-300 tracking-wider;
	}

	.active_sidebar_text {
		transform: rotate(-90deg);
		font-family: 'SourceSansPro-Semibold';
		@apply uppercase text-hard_blue cursor-pointer duration-300 tracking-wider;
	}

	.inactive_sidebar_text:hover {
		transform: translateX(-5px) rotate(-90deg);
		@apply text-hard_blue;
	}
	.active_sidebar_text:hover {
		transform: translateX(-5px) rotate(-90deg);
	}

	.sidebar_lang_container {
		@apply flex flex-col m-auto justify-center items-center gap-y-2 w-2/6 h-1/6;
	}

	.active_sidebar_lang_text {
		font-family: 'SourceSansPro-Semibold';
		@apply text-hard_blue cursor-pointer;
	}

	.inactive_sidebar_lang_text {
		font-family: 'SourceSansPro-Regular';
		@apply text-gray-400 cursor-pointer duration-300;
	}

	.inactive_sidebar_lang_text:hover {
		@apply text-hard_blue;
	}

	/* About Page */
	.about_container {
		padding: 3.2rem;
		font-family: 'SourceSansPro-Regular';
		@apply w-full text-white_text bg-hard_blue flex flex-col justify-between;
	}

	.about_header {
		animation: animatedToOriginal 0.8s ease forwards 3.25s;
		transform: translateY(-60px);
		@apply flex flex-row justify-between
			items-center opacity-0;
	}

	.about_content {
		@apply flex flex-col h-3/5 justify-center;
	}

	.welcome_container {
		@apply w-11/12 mx-auto flex flex-col gap-y-5;
	}

	.welcome {
		font-family: 'SourceSansPro-Semibold';
		animation: welcomeFadingIn 0.8s ease forwards 2s;
		@apply text-9xl text-white_text tracking-wider duration-300 opacity-0;
	}

	.welcome-line {
		animation: welcomeLineExpanding 0.8s ease forwards 2.4s;
		@apply ml-48 w-0
			border-hard_pink;
	}

	.about_description {
		animation: aboutDescriptionFadingIn 0.8s ease forwards 3.1s;
		transform: translateY(45px);
		@apply opacity-0;
	}

	.about_footer {
		animation: animatedToOriginal 0.8s ease forwards 3.25s;
		transform: translateY(60px);
		@apply flex flex-row items-end justify-end w-full gap-x-5 opacity-0;
	}

	.about_contact_element {
		@apply flex flex-col text-xl;
	}

	.about_contact_header {
		font-family: 'SourceSansPro-Semibold';
		@apply tracking-wider;
	}

	.about_contact_sub_header {
		font-family: 'SourceSansPro-Regular';
		@apply tracking-wider cursor-pointer text-gray-400 duration-200;
	}

	.about_contact_sub_header:hover {
		@apply text-white_text;
	}

	.about-header-contact-button-container {
		@apply flex flex-row gap-x-5 justify-center items-center;
	}

	.contact-button {
		@apply duration-200 cursor-pointer border border-white rounded-lg;
	}

	.contact-button:hover {
		transform: rotate(-10deg);
		@apply bg-gray-400;
	}

	/* Skills Page */
	.works-container {
		padding: 3.2rem;
		font-family: 'SourceSansPro-Regular';
		@apply h-screen overflow-auto w-full bg-gray-200;
	}
}

@keyframes animatedToOriginal {
	0% {
		@apply opacity-0;
	}

	100% {
		transform: translateY(0);
		@apply opacity-100;
	}
}

@keyframes welcomeFadingIn {
	0% {
		@apply opacity-0;
	}

	100% {
		@apply opacity-100;
	}
}

@keyframes welcomeLineExpanding {
	0% {
		@apply w-0;
	}

	100% {
		@apply w-4/12;
	}
}

@keyframes aboutDescriptionFadingIn {
	0% {
		@apply opacity-0;
	}

	100% {
		transform: translateY(0);
		@apply opacity-100;
	}
}

@keyframes curtainSliding {
	0% {
		@apply w-full;
	}

	100% {
		@apply w-0;
	}
}

@keyframes curtainClosing {
	0% {
		@apply w-0;
	}

	100% {
		@apply w-full;
	}
}

@keyframes halfCurtainSliding {
	0% {
		@apply w-full;
	}

	100% {
		@apply w-1/2;
	}
}

@keyframes halfCurtainClosing {
	0% {
		@apply w-1/2;
	}

	100% {
		@apply w-full;
	}
}

@keyframes curtainAppear {
	0% {
		@apply opacity-0;
	}

	100% {
		@apply opacity-100 border-r-2 border-gray-100;
	}
}
